@using CivicaShoppingAppClient.ViewModels
@model ForgetPasswordViewModel
@* <div *ngIf="loading">
  <img src="assets/loader.gif" alt="Loading...">
  </div> *@
<div class="container mt-0">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-0">
                <div class="card-header bgColor text-center text-white">
                    <h2><i class='fas fa-fingerprint p-0' style='font-size:40px;color:white;'></i> Forget Password</h2>
                </div>
                <div class="card-body bg-light">
                    <form asp-action="ForgetPassword" method="post">
                        <div class="form-group">
                            <label asp-for="LoginId" class="control-label"><i class="fas fa-user"></i> Username</label>
                            <input asp-for="LoginId" class="form-control" placeholder="Enter loginId or email" required />
                            <span asp-validation-for="LoginId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SecurityQuestionId" class="control-label"><i class="fas fa-question-circle"></i> Password hint</label>
                            <select id="SecurityQuestionDropdown" asp-for="SecurityQuestionId" class="form-control" asp-items="@(new SelectList(Model.SecurityQuestion, "SecurityQuestionId", "Question"))">
                                <option value="">--Select your password hint question--</option>
                            </select>
                            <span asp-validation-for="SecurityQuestionId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Answer" class="control-label"><i class="fas fa-key"></i> Answer</label>
                            <input asp-for="Answer" class="form-control" required />
                            <span asp-validation-for="Answer" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"><i class="fas fa-lock"></i> Password</label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmNewPassword" class="control-label"><i class="fas fa-check-circle"></i> Confirm new password</label>
                            <input asp-for="ConfirmNewPassword" class="form-control" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center m-1">
                            <button type="submit" value="Submit" class="btn civicaBtn"><i class="fas fa-save"></i> Reset Password</button>
                            <a asp-action="Index" class="btn btn-secondary" asp-controller="Home"><i class="fas fa-times"></i> Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
