.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add margin top for spacing */
    margin-bottom: 20px; /* Add margin bottom for spacing */
  }
  
  .pagination li {
    list-style-type: none; /* Remove default list styling */
  }
  
  .pagination .page-link {
    color: #007bff; /* Default link color */
    background-color: transparent;
    border: 1px solid #dee2e6; /* Add border */
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s; /* Smooth transition */
    padding: 0.5rem 0.75rem; /* Padding for the link */
    border-radius: 0.25rem; /* Rounded corners */
  }
  
  .pagination .page-link:hover {
    color: #0056b3; /* Darker blue color on hover */
    text-decoration: none; /* Remove underline on hover */
    border-color: #adb5bd; /* Adjust border color on hover */
  }
  
  .pagination .page-item.disabled .page-link {
    color: #a5a2a2; /* Faded text color for disabled buttons */
    pointer-events: none; /* Disable pointer events for disabled buttons */
    background-color: #e9ecef;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #007bff; /* Active page background color */
    color: #fff; /* Active page text color */
    border-color: #007bff; /* Active page border color */
    cursor: pointer;
  }
  
  .page-size-selection {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adjust margin top */
  }
  
  .page-size-selection select {
    margin-left: 10px; /* Add some spacing between the label and the select */
  }
  
  .custom-select {
    border: 1px solid #ced4da; /* Add border */
    padding: 0.375rem 2rem 0.375rem 1rem; /* Add padding */
    font-size: 1rem; /* Set font size */
    border-radius: 0.25rem; /* Add border radius */
    background-color: #fff; /* Set background color */
    background-image: none; /* Remove background image */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Add transition */
  }
  
  .custom-select:focus {
    border-color: #80bdff; /* Set border color on focus */
    outline: 0; /* Remove outline */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Add box shadow on focus */
  }
  
  .table {
    margin-top: 20px; /* Add margin top for spacing */
  }

  /* Pagination buttons */
.pagination ul li.disabled a {
    background-color: #fff; /* Light background color */
    color: #6c757d; /* Text color */
  }
  
  /* Font Awesome arrows */
  .pagination ul li.disabled a i {
    color: #6c757d; /* Adjust icon color */
  }
  
  /* ul>li>a{
    color: white;
  } 
  ul>li>a:hover{
    background-color: rgb(214, 37, 152);
    border-radius: 8px;
  } */
  .dropdown-item{
    background-color: white;
    border-radius: 8px;
  }

  .dropdown-item:hover{
    color: white;
    background-color: rgb(214, 37, 152);
    border-radius: 0px;
  }