<div *ngIf="loading">
  <img src="assets/loader.gif" alt="Loading...">
  </div>
<div class="container mt-0" *ngIf="!loading">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-0">
        <div class="card-header bgColor">
          <h2><i class='fas fa-fingerprint p-0' style='font-size:40px;color:white;'></i> Forget Password</h2>
        </div>
        <div class="card-body bg-light">
          <form #forgetPasswordForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(forgetPasswordForm)" novalidate>
            <div class="mb-3">
              <label class="form-label" for="loginId"><i class="fas fa-user"></i> Username</label>
              <input type="text" class="form-control" id="loginId" name="loginId" [(ngModel)]="forgetPassword.loginId"
                required minlength="2" placeholder="Enter loginId or email">
              <div *ngIf="forgetPasswordForm.controls['loginId']?.invalid && forgetPasswordForm.controls['loginId']?.touched">
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['loginId']?.errors?.['required']">Username is required.</small>
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['loginId']?.errors?.['minlength']">Username must be at least 2 characters long.</small>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="securityQuestionId"><i class="fas fa-question-circle"></i> Password hint</label>
              <select id="securityQuestionId" name="securityQuestionId" class="form-control" [(ngModel)]="forgetPassword.securityQuestionId" required>
                <option [value]=0 disabled>Select your password hint question</option>
                <option *ngFor="let question of questions" [value]=question.securityQuestionId>{{question.question}}</option>
              </select>
              <div *ngIf="(forgetPasswordForm.controls['securityQuestionId']?.invalid || forgetPasswordForm.controls['securityQuestionId']?.value == 0) && forgetPasswordForm.controls['securityQuestionId']?.touched">
                <small class="text-danger">Password hint is required.</small>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="answer"><i class="fas fa-key"></i> Answer</label>
              <input type="text" class="form-control" id="answer" name="answer" [(ngModel)]="forgetPassword.answer" placeholder="Enter your answer" required>
              <div *ngIf="forgetPasswordForm.controls['answer']?.invalid && forgetPasswordForm.controls['answer']?.touched">
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['answer']?.errors?.['required']">Answer is required.</small>
              </div>
            </div>

            <div class="mb-3">
              <label for="newPassword" class="form-label"><i class="fas fa-lock"></i> Password</label>
              <input type="password" id="newPassword" name="newPassword" class="form-control" [(ngModel)]="forgetPassword.newPassword"
                required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
              <div *ngIf="forgetPasswordForm.controls['newPassword']?.invalid && forgetPasswordForm.controls['newPassword']?.touched">
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['newPassword']?.errors?.['required']">Password is required.</small>
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['newPassword']?.errors?.['minlength']">Password must be at least 8 characters long.</small>
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['newPassword']?.errors?.['pattern']">Password must be alphanumeric and contain at least one special character.</small>
              </div>
            </div>

            <div class="mb-3">
              <label for="confirmNewPassword" class="form-label"><i class="fas fa-check-circle"></i> Confirm new password</label>
              <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control"
                [(ngModel)]="forgetPassword.confirmNewPassword" (input)="checkPasswords(forgetPasswordForm)" required>
              <div *ngIf="forgetPasswordForm.controls['confirmNewPassword']?.invalid && forgetPasswordForm.controls['confirmNewPassword']?.touched">
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['confirmNewPassword']?.errors?.['required']">Confirm password is required.</small>
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['confirmNewPassword']?.errors?.['passwordMismatch']">Passwords do not match.</small>
              </div>
            </div>

            <div class="mb-3 text-center">
              <button type="submit" [disabled]="!forgetPasswordForm.valid" class="btn resetBtn me-2"><i class="fas fa-save"></i> Reset Password</button>
              <button type="button" class="btn btn-secondary" [routerLink]="['/signin']"><i class="fas fa-times"></i> Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>