.resetBtn{
    color:white;
    background-color: #7B57CB;

}
.resetBtn:hover{
    color: white;
    background-color: #D62598;
}
.card {
    margin-top: 50px; /* Adjust card margin */
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  }

  .card-header {
    color: white; /* Header text color */
    border-bottom: none;
    text-align: center; /* Center align header text */
  }

  .form-label {
    font-weight: bold;
  }
  .btn-secondary {
    color: white; /* Secondary button text color */
  }

  .form-control {
    color: black; /* Form control text color */
  }

  .position-relative {
    margin-top: 20px; /* Adjust margin */
  }