.changePsd{
    color:white;
    background-color: #7B57CB;

}
.changePsd:hover{
    color: white;
    background-color: #D62598;
}
.card {
    margin-top: 20px; /* Adjust margin as needed */
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  }

  .card-header {
    background-color: #009CA6; /* Your specified color */
    color: white;
    border-bottom: none;
  }

  .form-label {
    font-weight: bold;
  }